{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-template-literals",
  ],
  "overrides": [
    {
      "include": "./service1",
      "exclude": "./service1/code.js",
      "plugins": [
        "@babel/plugin-transform-arrow-functions",
      ]
    }
  ]
}