{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-template-literals",
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}

// env 속성을 사용하면 환경별로 다른 설정을 줄 수 있다.

